<h1>Get Content Moderation</h1>

<%= form_tag content_moderation_path, method: :get, id: "moderation_form" do %>
  <section id="section1">
    <h2>Section 1</h2>
    <p contenteditable="true" id="section1_content">This is the first paragraph. You can modify this text.</p>
    <% prediction = flash["prediction_0"] %>
    <% if prediction.present? %>
      <div>
        <h2>Prediction:</h2>
        <% if prediction.to_f >= 0.5 %>
          <p>The content is Accepted with a probability of <%= prediction %>.</p>
        <% else %>
          <p>The content is Rejected with a probability of <%= prediction %>.</p>
        <% end %>
      </div>
    <% end %>
    <%= hidden_field_tag "section1_content", '', id: "section1_hidden_field" %>
  </section>

  <section id="section2">
    <h2>Section 2</h2>
    <p contenteditable="true" id="section2_content">This is the second paragraph. You can modify this text.</p>
    <% prediction = flash["prediction_1"] %>
    <% if prediction.present? %>
      <div>
        <h2>Prediction:</h2>
        <% if prediction.to_f >= 0.5 %>
          <p>The content is Accepted with a probability of <%= prediction %>.</p>
        <% else %>
          <p>The content is Rejected with a probability of <%= prediction %>.</p>
        <% end %>
      </div>
    <% end %>
    <%= hidden_field_tag "section2_content", '', id: "section2_hidden_field" %>
  </section>

  <section id="section3">
    <h2>Section 3</h2>
    <p contenteditable="true" id="section3_content">This is the third paragraph. You can modify this text.</p>
    <% prediction = flash["prediction_2"] %>
    <% if prediction.present? %>
      <div>
        <h2>Prediction:</h2>
        <% if prediction.to_f >= 0.5 %>
          <p>The content is Accepted with a probability of <%= prediction %>.</p>
        <% else %>
          <p>The content is Rejected with a probability of <%= prediction %>.</p>
        <% end %>
      </div>
    <% end %>
    <%= hidden_field_tag "section3_content", '', id: "section3_hidden_field" %>
  </section>

  <%= submit_tag "Tester la validité des textes" %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('moderation_form');
    const paragraphs = form.querySelectorAll('p[contenteditable=true]');

    form.addEventListener('submit', function(event) {
      paragraphs.forEach(function(paragraph, index) {
        const hiddenField = document.getElementById(`section${index + 1}_hidden_field`);
        hiddenField.value = paragraph.innerText;
      });

      document.getElementById('submit_button').disabled = true;
    });
  });
</script>