<h1>Post Content Moderation</h1>


<%= form_with url: predict_moderation_path, method: :post do |form| %>
  <div>
    <%= form.label :texts, "Texts to evaluate:" %><br>
    <% 3.times do |i| %>
      <%= form.text_area "texts[#{i}][text]", rows: 4, placeholder: "Enter text" %>
    <% end %>
  </div>

  <div>
    <%= form.label :language, "Language:" %><br>
    <%= form.text_field :language %>
  </div>

  <div>
    <%= form.submit "Prediction" %>
  </div>
<% end %>

<% if flash[:prediction].present? %>
  <div>
    <h2>Prediction:</h2>
    <% if flash[:prediction].to_f >= 0.5 %>
      <p>The content is Accepted with a probability of <%= flash[:prediction] %>.</p>
    <% else %>
      <p>The content is Rejected with a probability of <%= flash[:prediction] %>.</p>
    <% end %>
  </div>
<% end %>

